@model IEnumerable<Projet>

@{
    ViewData["Title"] = TempData["Titre"];
}

@{
    String pageRoute = ViewContext.RouteData.Values["action"].ToString();

    <h1>@pageRoute</h1>
}


<ul class="list-group">
    @foreach (var projet in Model)
    {
        <li class="list-group-item">
            <div class="card bg-secondary">
                <div class="card-body">
                    <h2 class="card-title text-light">@projet.Nom</h2>
                    <ul class="list-group list-group-flush">
                        @foreach (var declaration in projet.Declarations)
                        {
                            <li class="list-group-item mb-1 bg-dark">
                                <h3 class="card-titre">@declaration.Nom</h3>
                                <ul class="list-group list-group-flush">
                                    @foreach (var pieceJointe in declaration.PiecesJointes)
                                    {
                                        <li class="list-group-item mb-1 bg-secondary">
                                            <div class="card p-1">
                                                <h5 class="card-title mb-1">@pieceJointe.Titre</h5>
                                                <div>
                                                    @if (pieceJointe.Document is not null)
                                                    {
                                                        <div class="card bg-secondary mb-1 pl-1">@pieceJointe.Document.NomFichier</div>
                                                    }
                                                    @if (pieceJointe.Attestation is not null)
                                                    {
                                                        <div class="card bg-secondary p-1">
                                                            <h6>
                                                                @pieceJointe.Attestation.Nom
                                                            </h6>
                                                            <div class="card bg-dark pl-1">
                                                                @pieceJointe.Attestation.Professionnel.Nom
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </li>
    }
</ul>
